html, body { 
	margin: 0; 
	height: 100%; 
	width: 100%; 
	font-family: Colfax,effra,Helvetica Neue,Helvetica,sans-serif;
	background: #fff;
}

.quiz-tile-wrapper {
  height: 400px;
  width: 460px;
  margin-top: 10%;
  margin: 10% auto;
  background: #EFEFF7;
	display: flex;
	justify-content: space-between;
}
.prof-pic-wrapper {
	height: 90px;
	width: 90px;
}
.prof-pic{
	border-radius: 50%;
	height: 70%;
	margin: 15px;
}
.card {
	height: 85%;
	width: 75%;
	background: #fefdfb;
	margin: 20px 22px 20px 6px;
  padding: 0px 10px 10px 10px;
  line-height: 1.2em;
}

hr.hr-style {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.quiz-image-wrapper{
	height:50%;
	width:100%;
	margin: 0;
}
.bg-quiz-image {
  height: 165px;
  width: 100%;
	background: url(assets/pilgram.jpg);
	background-size: cover;
}
.title{
  font-size: 1.3em;
  line-height: 0.2;
  font-weight: 400;
  opacity: 0.7;
}
.score{
	color: #4BC092;
}
.author{
	font-weight: 700;
	font-size: 14px;
}
.timer{
	float: right;
	margin-right: 8px;
	opacity: 0.4;
}
.brand {
	opacity: 0.4;
	font-weight: 200;
  font-size: 14px;
}
.snippet {
  font-weight: 400;
  font-size: .9em;
}